<<<<<<< HEAD

=======
>>>>>>> 172153ef3cfb74c365d2ffa39af118ad7fff9d81
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="/">Device-Sensor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
<<<<<<< HEAD
        <li class="nav-item activse">
          <a class="nav-link" href="/addDevice">Add Device <span class="sr-only">(current)</span></a>
        <li class="nav-item">
          <a class="nav-link" href="/addDeviceSensor">Add DeviceSensor</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="/addDeviceType">Add DeviceType</a>
=======
        <li class="nav-item">
          <a class="nav-link" href="/add-UpdateDeviceType">Add DeviceType</a>
        </li>  
        <li class="nav-item activse">
          <a class="nav-link" href="/addUpdateDevice">Add Device <span class="sr-only">(current)</span></a>
>>>>>>> 172153ef3cfb74c365d2ffa39af118ad7fff9d81
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addSensorType">Add SensorType</a>
        </li>
<<<<<<< HEAD
=======
        <li class="nav-item">
          <a class="nav-link" href="/addSensor">Add Sensor</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="/addDeviceSensor">Add DeviceSensor</a>
        </li>   
              
>>>>>>> 172153ef3cfb74c365d2ffa39af118ad7fff9d81
      </ul>
    </div>
</nav>